<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <title>CloudEvents Player</title>
    <link rel="stylesheet" href="scss/app.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto">
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.ico">
</head>
<body data-bs-theme="dark" 
      data-browser_queue_size="{{ browser_queue_size }}"
      data-storage-max-recent-events="{{ storage_max_recent_events }}"
      data-storage-max-metadata-events="{{ storage_max_metadata_events }}"
      data-auth-required="{{ auth_required }}"
      data-oauth-url="{{ oauth_url }}"
      data-oauth-realm="{{ oauth_realm }}"
>
    {% include "html/nav.html" %}
    {% include "html/dashboard-unified.html" %}
    {% include "html/footer.html" %}
    {% include "html/offcanvas.html" %}
    {% include "html/help.html" %}
    {% include "html/toast.html" %}
    {% include "html/confirm.html" %}
    {% include "html/clearStorageModal.html" %}
    {% include "html/tasksModal.html" %}
    {% include "html/clientsModal.html" %}
    <script type="module" src="js/app.js"></script>
</body>
</html>
