
* {box-sizing: border-box}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-top: 1px solid $primary;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

footer p {
    font-size: 0.7rem;
    color: $primary;
    margin-top: 0;
    margin-bottom: 0;
    a {
        text-decoration: none;
        color: $primary;
    }
}


.title {
    font-family: 'Comfortaa', 'Arial', sans-serif;
    color: $primary;
    // text-shadow: 0 0 10px $gray-300;
}

#generatorPanel {
    height: 650px;
}