/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $gray-600;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray-900;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

/* Misc */
// .badge {
//     background-color: var(--primary-color);
//     color: var(--background-color);
//     padding: 0.07rem 0.1rem;
//     text-align: center;
//     border-radius: 5px;
//     margin: 0.4rem;
// }

.code {
    font-family: monospace;
    display: inline-block;
    background-color: $gray-500;
    color: $gray-800;
    padding-left: 1rem;
    padding-right: 1rem;
}

.blink {
    animation: blink-animation 2s 3;
  }

  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
.glow {
    animation: glow-animation 1.5s ease-in-out 2;
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }

    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
}

.error {
    background-color: rgba(128, 0, 0);
}
