nav {
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-items {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.right-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.title-container,
.sub-menu-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.sub-menu-container span.badge{
    /* background-color: #008000; */
}

.action-icons-container,
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
}

.sub-menu-container ul li {
    display: inline-block;
    margin-right: 10px;
}

.sub-menu-container ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    text-shadow: 0 0 30px var(--primary-color);
}

.sub-menu-container ul li a:hover {
    color: var(--primary-color);
}


input[type=text],
textarea {
    background-color: var(--lighter-background-color);
    color: var(--primary-color);
    font-family: monospace;
    font-size: 16px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

input[type=text]:focus,
textarea:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.action-icons-container button {
    background-color: var(--background-color);
    border: 1px;
    border-radius: 5px;
    color: var(--primary-color);
    padding: 10px 10px;
    margin-right: 10px;
    height: 41px;
    width: 41px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-icons-container button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

#filter-input {
    background-image: url('/static/img/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    padding: 12px 20px 12px 40px;
    margin-right: 20px;
}
