
/* TOOLTIPs */

[title] {
    position: relative;
}

[title]:hover::after {
    content: attr(title);
    position: absolute;
    /* background-color: var(--background-color); */
    color: var(--primary-color);
    /* margin: 5px; */
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 5px;
    transform: translateX(-100%);
    top: 100%;
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
}

[title]:hover::before {
    content: "";
    position: absolute;
    border-style: solid var(--primary-color);
    border-width: 6px 6px 0 6px;
    border-color: var(--lighter-background-color) transparent transparent transparent;
    // left: 50%;
    // transform: translateX(-100%);
    top: 95%;
}

[title]:hover::after {
    opacity: 1;
}

dt {
    font-family: monospace;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

dd {
    margin: 0.5rem;
    margin-left: 2rem;
}

