/* Page Structure */
:root {
    --background-color: #1a1d20;
    --darker-background-color: rgb(17, 18, 20);
    --lighter-background-color: rgb(50, 56, 62);
    --border-color: rgb(85, 96, 109);
    --primary-color: rgb(77, 206, 243);
    --text-color: #CCC;
}

* {box-sizing: border-box}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-width: 950px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 5rem;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--primary-color);
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

footer p {
    font-size: 0.7rem;
    color: var(--primary-color);
}

/* Header */
nav {
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-items {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.right-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.title-container,
.sub-menu-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.sub-menu-container span.badge{
    /* background-color: #008000; */
}

.action-icons-container,
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
}

.sub-menu-container ul li {
    display: inline-block;
    margin-right: 10px;
}

.sub-menu-container ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    text-shadow: 0 0 30px var(--primary-color);
}

.sub-menu-container ul li a:hover {
    color: var(--primary-color);
}

h1 {
    padding: 20px;
    font-size: 24px;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    color: var(--primary-color);
    text-shadow: 0 0 40px var(--text-color);
}

input[type=text],
textarea {
    background-color: var(--lighter-background-color);
    color: var(--primary-color);
    font-family: monospace;
    font-size: 16px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

input[type=text]:focus,
textarea:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.action-icons-container button {
    background-color: var(--background-color);
    border: 1px;
    border-radius: 5px;
    color: var(--primary-color);
    padding: 10px 10px;
    margin-right: 10px;
    height: 41px;
    width: 41px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-icons-container button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

#filter-input {
    background-image: url('/static/img/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    padding: 12px 20px 12px 40px;
    margin-right: 20px;
}


/* Main section */
.container {
    margin: 20px;
}

#events-stack {
    overflow: hidden;
    transition: height 0.3s ease-out;
    box-sizing: border-box;
    /* font-family: 'Arial', sans-serif;
    background-color: var(--background-color); */
}

.event-box {
    border: 2px solid var(--border-color);
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
}

.event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lighter-background-color);
    padding: 10px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    color: var(--text-color);
}

.event-header:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.event-header:hover .event-count {
    color: var(--background-color);
}

.event-left-title {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
}

.event-count {
    font-size: 18px;
    font-weight: bold;
    color: #4DCEF3;
}

.event-timestamp {
    font-size: 10px;
}

.event-source {
    font-weight: 700;
}

.event-message {
    /* border: 1px solid var(--border-color); */
    display: none;
    border-radius: 3px;
    white-space: pre;
    font-size: 12px;
    padding: 10px;
    font-family: 'Courier New', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;
}



/* Generator Modal/Sidepanel */

/* The sidebar menu */
.sidebar {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: -60px;
    left: 0;
    background-color: var(--darker-background-color);
    overflow: hidden;
    padding: 20px;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidebar .closebtn:hover {
    color: var(--primary-color)
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 36px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
    text-shadow: 0 0 5px var(--primary-color);
}

.sidebar #generatorHeader h3 {
    font-size: 18px;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    color: var(--primary-color);
    text-shadow: 0 0 40px var(--text-color);
    text-align: center;
}

#generatorForm {
    padding: 1.3rem;
    padding-right: 3rem;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1;
}

#iterations,
#delay {
    width: 4rem;
}

#send-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10rem;
    margin-right: 6.5rem;
}

#send-button {
    background-color: var(--background-color);
    border: 1px;
    border-radius: 5px;
    color: var(--primary-color);
    padding: 10px 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 40px;
    width: 3600px;
    font-size: 18px;
    cursor: pointer;
}

#send-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

#progress-bar-container {
    /* border: 1px solid var(--primary-color); */
    height: 10px;
    padding: 10px;
    display: block;
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 3rem;
}

.progress-bar {
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 10px;
    position: relative;
    margin: 2px;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 0%;
    transition: width 0.5s ease;  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    background-color: var(--primary-color);
    border: none;
    font-size: 14px;
    height: 20px;
    width: 20px;
}


/* Remove the default spinner appearance */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* custom spinners */
input[type=number] {
    background-color: var(--lighter-background-color);
    color: var(--primary-color);
    font-family: monospace;
    font-size: 16px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    /* margin-right: 20px; */
}

input[type=number] {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

/* Style the spinner buttons */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* Set background color, height, and width */
    background-color: var(--primary-color);
    height: 100%;
    width: 20px;

    /* Add border and border-radius */
    border-left: 1px solid var(--primary-color);
    border-radius: 5px 0 0 5px;

    /* Position the buttons */
    position: absolute;
    right: 0;

    /* Add icon */
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
}

input[type=number]::-webkit-inner-spin-button {
    /* Position the buttons */
    top: 50%;
    transform: translateY(-50%);

    /* Add icon */
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
}

/* Help Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--lighter-background-color);
    margin: auto;
    margin-top: 10rem;
    padding: 0;
    border: 10px solid var(--primary-color);
    width: 80%;
    height: 70%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: var(--lighter-background-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: var(--lighter-background-color);
    text-align: center;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    min-height: 400px;
    overflow-y: auto;
}

.modal-body hr {
    width: 85%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}

.modal-body ul {
    list-style-type: none;
}

.modal-body a {
    color: var(--text-color);
}
.modal-body a:visited {
    color: var(--primary-color);
}

.modal-body ul li {
    display: flex;
    align-items: center;
}

.modal-body ul li .badge + span {
    margin-left: 10px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: var(--lighter-background-color);
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


/* Toast Message */
.toast-message {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
    display: none;
}

.toast-message.show {
    opacity: 1;
    display: block;
}

.toast-message.success {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.toast-message.error {
    background-color: red;
    color: var(--text-color);
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lighter-background-color)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-color)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color)
}


/* GATEWAY DROPDOWN */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: monospace;
    font-size: 16px;
    width: 100%;    
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: var(--lighter-background-color);
    border-radius: 5px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--primary-color) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--primary-color) transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: var(--primary-color);
    padding: 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--lighter-background-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-items:last-child {
    border-bottom: 2px solid var(--primary-color);
  }

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Misc */
.badge {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.07rem 0.1rem;
    text-align: center;
    border-radius: 5px;
    margin: 0.4rem;
}

.code {
    font-family: monospace;
    background-color: var(--lighter-background-color);
}

.blink {
    animation: blink-animation 2s 3;
  }

  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
.glow {
    animation: glow-animation 1.5s ease-in-out 2;
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }

    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
}



/* TOOLTIPs */

[title] {
    position: relative;
}

[title]:hover::after {
    content: attr(title);
    position: absolute;
    /* background-color: var(--background-color); */
    color: var(--primary-color);
    /* margin: 5px; */
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 5px;
    transform: translateX(-50%);
    top: 100%;
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
}

[title]:hover::before {
    content: "";
    position: absolute;
    border-style: solid var(--primary-color);
    border-width: 6px 6px 0 6px;
    border-color: var(--lighter-background-color) transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
}

[title]:hover::after {
    opacity: 1;
}

dt {
    font-family: monospace;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

dd {
    margin: 0.5rem;
    margin-left: 2rem;
}



/* CONFIRM MODAL */
/* Set a style for all buttons */
#confirmModal button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#confirmModal button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
#confirmModal .cancelbtn,
#confirmModal .deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
#confirmModal .cancelbtn {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* Add a color to the delete button */
#confirmModal .deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.confirm-container {
    padding: 16px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lighter-background-color);
}

/* The Modal (background) */
.confirm-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

/* Modal Content/Box */
#confirmModal .confirm-modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
#confirmModal hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
#confirmModal .confirm-close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

#confirmModal .confirm-close:hover,
#confirmModal .confirm-close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
#confirmModal .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {

    #confirmModal .cancelbtn,
    #confirmModal .deletebtn {
        width: 100%;
    }
}