<div id="generatorModal" class="sidebar">
    <div id="generatorHeader">
        <h3>Generate CloudEvents</h3>
        <a href="javascript:void(0)" class="closebtn" onclick="toggleGeneratorModal()">&times;</a>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar"></div>
    </div>
    <div>
        <form id="generatorForm">
            <div class="form-group">
                <label for="input1">Gateway:</label>
                <!-- <input type="text" id="input1" name="event_gateway" onkeydown="return event.key !== ' '"
                    placeholder="/events/pub" value="http://localhost/events/pub"> -->
                <div class="custom-select">
                    <select id="input1" name="event_gateway">
                        <option value="0">Select a gateway</option>
                        {% for gateway_url in default_events_gateways.urls %}
                        <option value="{{ gateway_url }}">{{ gateway_url }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="event_source">Source:</label>
                <input type="text" id="event_source" name="event_source" onkeydown="return event.key !== ' '"
                    placeholder="https://dummy.source.com/sys-admin" value={{ default_events_settings.event_source }}>
            </div>
            <div class="form-group">
                <label for="event_type">Type:</label>
                <input type="text" id="event_type" name="event_type" onkeydown="return event.key !== ' '"
                    placeholder="com.source.dummy.test.requested.v1" value={{ default_events_settings.event_type }}>
            </div>
            <div class="form-group">
                <label for="event_subject">Subject:</label>
                <input type="text" id="event_subject" name="event_subject" onkeydown="return event.key !== ' '"
                    placeholder="123" value={{ default_events_settings.event_subject }}>
            </div>
            <div class="form-group">
                <label for="event_data">Data:</label>
                <textarea id="event_data" name="event_data" rows="5" cols="50" style="font-family: monospace;">{{ default_events_settings.event_data | tojson(indent=2) }}</textarea>
            </div>
            <div class="form-group" style="margin-top: 2rem;">
                <label for="iterations">Iterations:</label>
                <input type="number" id="iterations" name="iterations" min="0" value="1">
                <label for="delay">Delay (ms):</label>
                <input type="number" id="delay" name="delay" min="0" placeholder="ms" value="100">
            </div>            
            <div class="form-group" id="send-button-container">
                <button type="submit" id="send-button"><i class="fa fa-paper-plane"></i></button>
            </div>
        </form>
    </div>

</div>