<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <title>CloudEvents Player</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.ico">
</head>
<body>
    <header>
    {% include "nav.html.j2" %}
    </header>
    <main>
        <div class="container">
            <div id="events-stack">
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; {{ year }} CloudEvents Player. All rights reserved.</p>
    </footer>
    {% include "generator.html.j2" %}
    {% include "help.html.j2" %}
    {% include "confirm.html.j2" %}
    <div class="toast-message"></div>
    {% include "script.html.j2" %}
</body>
</html>